<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>temperature Analysis</title>
</head>
<body>
<h1>Weather data API</h1>
<h2>Get particular station and date temperature details </h2>
<p title="http://127.0.0.1:5000/api/v1/station/date">
    <a target="_blank" href="http://127.0.0.1:5000/api/v1/10/1988-10-26">
    http://127.0.0.1:5000/api/v1/10/1988-10-26</a>
</p>
<h2>Get all data for particular station</h2>
<p title="http://127.0.0.1:5000/api/v1/station">
    <a target="_blank" href="http://127.0.0.1:5000/api/v1/10">
    http://127.0.0.1:5000/api/v1/10</a>
</p>
<h2>Get all data for particular Year</h2>
<p title="http://127.0.0.1:5000/api/v1/station/date">
    <a target="_blank" href="http://127.0.0.1:5000/api/v1/year/10/1988">
    http://127.0.0.1:5000/api/v1/year/10/1988</a>
</p>
<h4>Check below data table for station details</h4>
{{data | safe}}
</body>
</html>